# Gradle files
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Kotlin
.kotlin
kotlin-js-store/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# Mac OS
.DS_Store

# Node.js (Frontend)
node_modules/
npm-debug.log
yarn-error.log

# Logs and temporary files
*.log
*.hprof
hs_err_pid*
data/
*.mv.db
*.trace.db